### Cory Melendez
### Clustering Project
### 9/17/2020
### Github Link: https://github.com/cmelende/ClusteringProject.git

In [21]:
import pandas as pd
from univariateAnalysis import UniVariateAnalysis, UniVariateReport, OutlierFilter
from metrics import Metrics

In [22]:
credit_card_df = pd.read_excel("Credit Card Customer Data.xlsx")
all_cols = ['Sl_No','Customer Key','Avg_Credit_Limit','Total_Credit_Cards','Total_visits_bank','Total_visits_online','Total_calls_made']
print_graph = True
def print_all_uni_analysis_reports(df,columnNames):
    seperator = '---------------------------------------------'
    for column in columnNames:
        analysis = UniVariateAnalysis(df, column)
        analysis_report = UniVariateReport(analysis)

        print(seperator)
        print(f'\'{column}\' column univariate analysis report')
        print(seperator)

        analysis_report.print_report()

In [23]:
credit_card_df.head()

,Sl_No,Customer Key,Avg_Credit_Limit,Total_Credit_Cards,Total_visits_bank,Total_visits_online,Total_calls_made
0,1,87073,100000,2,1,1,0
1,2,38414,50000,3,0,10,9
2,3,17341,50000,7,1,3,4
3,4,40496,30000,5,1,1,4
4,5,47437,100000,6,0,12,3

In [24]:
credit_card_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sl_No                660 non-null    int64
 1   Customer Key         660 non-null    int64
 2   Avg_Credit_Limit     660 non-null    int64
 3   Total_Credit_Cards   660 non-null    int64
 4   Total_visits_bank    660 non-null    int64
 5   Total_visits_online  660 non-null    int64
 6   Total_calls_made     660 non-null    int64
dtypes: int64(7)
memory usage: 36.2 KB

In [25]:
credit_card_df.describe()

,Sl_No,Customer Key,Avg_Credit_Limit,Total_Credit_Cards,Total_visits_bank,Total_visits_online,Total_calls_made
count,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000
mean,330.500000,55141.443939,34574.242424,4.706061,2.403030,2.606061,3.583333
std,190.669872,25627.772200,37625.487804,2.167835,1.631813,2.935724,2.865317
min,1.000000,11265.000000,3000.000000,1.000000,0.000000,0.000000,0.000000
25%,165.750000,33825.250000,10000.000000,3.000000,1.000000,1.000000,1.000000
50%,330.500000,53874.500000,18000.000000,5.000000,2.000000,2.000000,3.000000
75%,495.250000,77202.500000,48000.000000,6.000000,4.000000,4.000000,5.000000
max,660.000000,99843.000000,200000.000000,10.000000,5.000000,15.000000,10.000000

In [26]:
# check to see if there are any NaN
credit_card_df.isnull().values.any()

False

## TODO: Univariate Analysis

The columns 'Avg_Credit_Limit', 'Total_visits_online' have several outliers

In [27]:
print_all_uni_analysis_reports(credit_card_df, all_cols)

---------------------------------------------
'Sl_No' column univariate analysis report
---------------------------------------------
Data type:  int64
Range of values: (1, 660)
Standard deviation:  190.66987176793296
Q1:  165.75
Q2:  330.5
Q3:  495.25
Q4:  660.0
Mean:  330.5
Min:  1
Median:  330.5
Max:  660
Top whisker:  989.5
Bottom whisker:  -328.5
Number of outliers above the top whisker:  0
Number of outliers below the bottom whisker:  0
---------------------------------------------
'Customer Key' column univariate analysis report
---------------------------------------------
Data type:  int64
Range of values: (11265, 99843)
Standard deviation:  25627.772200050316
Q1:  33825.25
Q2:  53874.5
Q3:  77202.5
Q4:  99843.0
Mean:  55141.44393939394
Min:  11265
Median:  53874.5
Max:  99843
Top whisker:  142268.375
Bottom whisker:  -31240.625
Number of outliers above the top whisker:  0
Number of outliers below the bottom whisker:  0
---------------------------------------------
'Avg_Credit_Limit' column univariate analysis report
---------------------------------------------
Data type:  int64
Range of values: (3000, 200000)
Standard deviation:  37625.48780422166
Q1:  10000.0
Q2:  18000.0
Q3:  48000.0
Q4:  200000.0
Mean:  34574.242424242424
Min:  3000
Median:  18000.0
Max:  200000
Top whisker:  105000.0
Bottom whisker:  -47000.0
Number of outliers above the top whisker:  39
Indices of higher outlier rows
1) 612
2) 614
3) 615
4) 617
5) 618
6) 619
7) 620
8) 621
9) 622
10) 623
11) 624
12) 626
13) 627
14) 629
15) 630
16) 631
17) 632
18) 633
19) 634
20) 635
21) 636
22) 637
23) 638
24) 639
25) 640
26) 641
27) 644
28) 645
29) 646
30) 647
31) 648
32) 649
33) 650
34) 651
35) 652
36) 654
37) 657
38) 658
39) 659
Number of outliers below the bottom whisker:  0
---------------------------------------------
'Total_Credit_Cards' column univariate analysis report
---------------------------------------------
Data type:  int64
Range of values: (1, 10)
Standard deviation:  2.167834859511195
Q1:  3.0
Q2:  5.0
Q3:  6.0
Q4:  10.0
Mean:  4.706060606060606
Min:  1
Median:  5.0
Max:  10
Top whisker:  10.5
Bottom whisker:  -1.5
Number of outliers above the top whisker:  0
Number of outliers below the bottom whisker:  0
---------------------------------------------
'Total_visits_bank' column univariate analysis report
---------------------------------------------
Data type:  int64
Range of values: (0, 5)
Standard deviation:  1.631812875791615
Q1:  1.0
Q2:  2.0
Q3:  4.0
Q4:  5.0
Mean:  2.403030303030303
Min:  0
Median:  2.0
Max:  5
Top whisker:  8.5
Bottom whisker:  -3.5
Number of outliers above the top whisker:  0
Number of outliers below the bottom whisker:  0
---------------------------------------------
'Total_visits_online' column univariate analysis report
---------------------------------------------
Data type:  int64
Range of values: (0, 15)
Standard deviation:  2.9357241204935423
Q1:  1.0
Q2:  2.0
Q3:  4.0
Q4:  15.0
Mean:  2.606060606060606
Min:  0
Median:  2.0
Max:  15
Top whisker:  8.5
Bottom whisker:  -3.5
Number of outliers above the top whisker:  37
Indices of higher outlier rows
1) 1
2) 4
3) 6
4) 612
5) 613
6) 615
7) 616
8) 617
9) 618
10) 619
11) 620
12) 621
13) 622
14) 624
15) 626
16) 627
17) 628
18) 630
19) 631
20) 633
21) 637
22) 639
23) 640
24) 641
25) 642
26) 644
27) 645
28) 647
29) 650
30) 651
31) 653
32) 654
33) 655
34) 656
35) 657
36) 658
37) 659
Number of outliers below the bottom whisker:  0
---------------------------------------------
'Total_calls_made' column univariate analysis report
---------------------------------------------
Data type:  int64
Range of values: (0, 10)
Standard deviation:  2.8653168176227113
Q1:  1.0
Q2:  3.0
Q3:  5.0
Q4:  10.0
Mean:  3.5833333333333335
Min:  0
Median:  3.0
Max:  10
Top whisker:  11.0
Bottom whisker:  -5.0
Number of outliers above the top whisker:  0
Number of outliers below the bottom whisker:  0

In [28]:
outlier_filter = OutlierFilter(credit_card_df, all_cols)
credit_card_df_no_outliers = outlier_filter.get_df_without_outliers()

In [29]:
credit_card_df_no_outliers.head()

,Sl_No,Customer Key,Avg_Credit_Limit,Total_Credit_Cards,Total_visits_bank,Total_visits_online,Total_calls_made
0,1,87073,100000,2,1,1,0
2,3,17341,50000,7,1,3,4
3,4,40496,30000,5,1,1,4
5,6,58634,20000,3,0,1,8
7,8,37376,15000,3,0,1,1

In [30]:
credit_card_df_no_outliers.describe()

,Sl_No,Customer Key,Avg_Credit_Limit,Total_Credit_Cards,Total_visits_bank,Total_visits_online,Total_calls_made
count,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000
mean,309.057283,54991.862520,26032.733224,4.391162,2.548282,1.929624,3.772504
std,176.674012,25552.363847,21054.003371,1.885889,1.603953,1.588882,2.867963
min,1.000000,11265.000000,3000.000000,1.000000,0.000000,0.000000,0.000000
25%,156.500000,33890.500000,10000.000000,3.000000,1.000000,1.000000,1.000000
50%,309.000000,53898.000000,17000.000000,4.000000,2.000000,2.000000,3.000000
75%,461.500000,76605.000000,39000.000000,6.000000,4.000000,3.000000,6.000000
max,644.000000,99596.000000,100000.000000,9.000000,5.000000,8.000000,10.000000

In [31]:
credit_card_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sl_No                660 non-null    int64
 1   Customer Key         660 non-null    int64
 2   Avg_Credit_Limit     660 non-null    int64
 3   Total_Credit_Cards   660 non-null    int64
 4   Total_visits_bank    660 non-null    int64
 5   Total_visits_online  660 non-null    int64
 6   Total_calls_made     660 non-null    int64
dtypes: int64(7)
memory usage: 36.2 KB

## TODO: Data Cleaning